
body{
    background-image: url(../Images/Fondo10.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.fondoverde{
    background-color: rgb(112, 238, 129);
}

.fondoblanco{
    background-color: white;
}

.fondoceleste{
    background-color: aqua;
}

.centro{
    text-align: center;
}

.col{
    border: 1px solid;
    border-color: black;
}

.personajes{
    min-width: 30px;
}

.bordes{
    border: 1px solid;
    border-color:black ;
}

.arriba{
    margin-top: 20px;
}

.abajo{
    margin-bottom: 20px;
}

.marco{
    margin: 10px 5px 10px 5px;
}

.espacio {
    padding: 15px;
}

.container{
    border: solid black 1px;
}