
body{
    background-image: url(../Images/Fondo10.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.fondoverde{
    background-color: rgb(112, 238, 129);
}

.fondoblanco{
    background-color: white;
}

.fondoceleste{
    background-color: aqua;
}

.centro{
    text-align: center;
    padding-top: 10px;
}

.borde{
    border: solid black 1px;
}

.personajes{
    padding-left: 50px;
    padding-right: 50px;
}

.espacio_d{
    margin-right: 30px;
}

.arriba{
    margin-top: 11px;
}

.abajo{
    margin-bottom: 11px;
}

.marco{
    margin: 10px 5px 10px 5px;
}

.espacio {
    padding: 15px;
}

.container{
    border: solid black 1px;
}