
/*body{
    background-image: url(../Images/Fondo10.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/

/*Cuadro emergente*/

.cuadrado{
    width: 500px;
    height: 250px;
    background-color: #d9ffa5;
    position: absolute;
    left: 36%;
    top: 20%;
    border-radius: 5px;
}

#cerrar_ventana{
    background-color:#fd6262;
    border-radius: 4px;
}

#cerrar_ventana:hover{
    background-color: #ff2222;
    transition: 1s;
}

#cuadro1{
    display: none;
}

#cuadro2{
    display: none;
}

#cuadro3{

    display: none;
}

/*Fondos*/

.fondo_esqueleto{
    background-image: url(../Images/wall_bones1.png);
}

.fondo_sonic{
    background-image: url(../Images/sonic_wall1.png);
}

.fondo_mujer{
    background-image: url(../Images/desert_1.png);
}

.fondo_armor{
    background-image: url(../Images/forest_2.png);
}

.fondo_mar{
    background-image: url(../Images/ud.png);
}

.fondo_mario{
    background-image: url(../Images/mario_1.png);
}

.repeat{
    background-repeat: repeat-x;
}

.fondo_body{
    background-color: #003a038a;
}

.fondoverde{
    background-color: rgb(112, 238, 129);
}

.fondoblanco{
    background-color: white;
}

.fondoceleste{
    background-color: aqua;
}

.fondoaumento{
    background-color: #d9ffa5;
}

.fondoquitar{
    background-color: #febaa9;
}

.fondoempezar{
    background-color: #00dc0a;
}

.fondoreiniciar{
    background-color: #ff2222;
}

.fondo_dinero{
    background-color: #8afcd6;
}

.fondo_winner{
    background-color: rgb(255, 255, 186);
}

/*Cosas X*/

.centro{
    text-align: center;
    padding-top: 10px;
}

.borde{
    border: solid black 1px;
}

.borde_corredores{
    border: 1px solid rgb(102, 102, 102);
}

.personajes{
    padding-left: 50px;
    padding-right: 50px;
}

.borde_general{
    border: 1px solid #006d06;
}

.personaje{
    border-radius: 5px;
}

/*Margenes*/

.espacio_d{
    margin-right: 30px;
}

.arriba{
    margin-top: 11px;
}

.abajo{
    margin-bottom: 11px;
}


.marco{
    margin: 10px 5px 10px 5px;
}

.espacio {
    padding: 15px;
}

.espacio_arriba_15{
    padding-top: 15px;
}

.espacio_arriba_25{
    padding-top: 25px;
}

.pad_5{
    padding: 5px 0px 5px 0px;
}

/*Hovers*/

.agrandar:hover{
    size: 20px;
}

#btnSum10:hover{
    background-color: #00be0a;
    transition: 1s;
}

#btnSum50:hover{
    background-color: #00be0a;
    transition: 1s;
}

#btnRes10:hover{
    background-color: #ff2222;
    transition: 1s;
}

#btnRes50:hover{
    background-color: #ff2222;
    transition: 1s;
}

/*.container{
    border: solid black 1px;
}

.col{
    border: solid black 1px;
}
*/
/*Dinero Apuesta*/
.dinero_borde{
    border: 1px solid black;
    border-radius: 7px;
    margin-bottom: 5px;
}

.dinero_total{
    border: 1px solid black;
    border-radius: 7px;
}

.aum_dis_dinero{
    border: solid black 1px;
    border-radius: 4px;
    padding: 0px;
    margin: 10px 0px 5px 0px;
}

.boton_aum{
    border: solid rgb(67, 139, 9) 1px;
    min-width: 100%;
    border-radius: 4px;
    margin-bottom: 4px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.boton_dis{
    border: solid rgb(122, 41, 41) 1px;
    min-width: 100%;
    border-radius: 4px;
    margin-bottom: 4px;
    padding-bottom: 10px;
    padding-top: 10px;
}

button{
    border: none;
    background-color: transparent;
}

.emp{
    border: solid rgb(20, 129, 29) 1px;
    border-radius: 3px;
    padding: 8px 30px 8px 30px;
    margin: 12px 0px 15px 0px;
}

.rei{
    border: solid rgb(122, 27, 27) 1px;
    border-radius: 3px;
    padding: 8px 30px 8px 28px;
    margin: 12px 0px 15px 11px;
}

/*centrar*/

.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Efecto escoger personajes*/
#personajes img{
    height: 75px;
    transition: all 300ms;
    position: relative;
}

#personajes img:hover{
    transform: scale(1.3);
}


/*Corredores*/

.corredor{
    position: relative;
    left: 0;
    top: 0;
}

#ganador{
    display: none;
    position: relative;
}

.ganador{
    min-height: 90px;
}

/*Titulo - Cuerpo*/
.titulo_marco{
    border-radius: 5px;
}

.cuerpo_marco{
    border-radius: 5px;
}